<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Broken_stonetablet_move_end</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Broken_stonetablet/Broken_stonetablet_move_end.anim</SkillClip>
  <SkillClipName>Broken_stonetablet_move_end</SkillClipName>
  <Directory>Broken_stonetablet/</Directory>
  <Player>40404</Player>
  <Dummy>0</Dummy>
  <Result />
  <Charge />
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.9999999</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>0.9999999</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
  </Logical>
  <Ultra />
  <PostEffect />
</XConfigData>