<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_assassin_attack_anyingzhishou</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_assassin/Player_assassin_anyingzhishou.anim</SkillClip>
  <SkillClipName>Player_assassin_anyingzhishou</SkillClipName>
  <Directory>/Monster_assassin</Directory>
  <Player>49980</Player>
  <Dummy>0</Dummy>
  <Result />
  <Charge />
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>0</Cancel_At_Ratio>
    <Preserved_Ratio>0</Preserved_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra />
  <PostEffect />
</XConfigData>