<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_warrior_attack_shalushengyan_ex</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip />
  <SkillClipName />
  <Directory>Player_warrior/</Directory>
  <Player>1</Player>
  <Dummy>201</Dummy>
  <Result />
  <Charge />
  <Ja />
  <Combined>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>0.426229417</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_warrior/Player_warrior_attack_shalushengyan_ex_start.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_warrior/Player_warrior_attack_shalushengyan_ex_end.txt</Skill_PathWithName>
    </XCombinedDataExtra>
  </Combined>
  <CameraEffect>
    <XCameraEffectDataExtra>
      <Ratio>0.306666672</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.6</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.06666667</Ratio>
    </XCameraEffectDataExtra>
  </CameraEffect>
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.8000001</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0.533333361</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>0.7466667</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation>Assets/Scripts/XEditor/XSkillEditor/Effect/RadialBlur.cs</EffectLocation>
  </PostEffect>
</XConfigData>