<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_warrior_attack_chengfagongji_ex</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_warrior/Player_warrior_attack_finishattack.anim</SkillClip>
  <SkillClipName>Player_warrior_attack_finishattack</SkillClipName>
  <Directory>Player_warrior/</Directory>
  <Player>1</Player>
  <Dummy>201</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.111111112</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.477777779</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.6111111</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined />
  <CameraEffect>
    <XCameraEffectDataExtra>
      <Ratio>0.166666672</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.5</Ratio>
    </XCameraEffectDataExtra>
  </CameraEffect>
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.799999952</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0.444444418</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>0.777777731</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation>Assets/Scripts/XEditor/XSkillEditor/Effect/RadialBlur.cs</EffectLocation>
  </PostEffect>
</XConfigData>