<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_warrior_attack_wuxianzhiren</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_warrior/Player_warrior_attack_wuxianzhiren.anim</SkillClip>
  <SkillClipName>Player_warrior_attack_wuxianzhiren</SkillClipName>
  <Directory>Player_warrior/</Directory>
  <Player>1</Player>
  <Dummy>201</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.1764706</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.2647059</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.320588231</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.424117625</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.4617647</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.500588238</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.5382353</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.6123529</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.711764634</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.7294118</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined />
  <CameraEffect>
    <XCameraEffectDataExtra>
      <Ratio>0.202352956</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.259411752</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.370588243</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.025882354</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.68588233</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.4835294</Ratio>
    </XCameraEffectDataExtra>
  </CameraEffect>
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.894117653</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0.74</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>0.8235294</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation>Assets/Scripts/XEditor/XSkillEditor/Effect/RadialBlur.cs</EffectLocation>
  </PostEffect>
</XConfigData>