<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_warrior_attack_taifeng_loop</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_warrior/Player_warrior_attack_xuanfengzhan_loop.anim</SkillClip>
  <SkillClipName>Player_warrior_attack_xuanfengzhan_loop</SkillClipName>
  <Directory>Player_warrior/</Directory>
  <Player>1</Player>
  <Dummy>201</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.166666642</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>1</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.99999994</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0.99999994</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>0.04000001</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>