<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_warrior_attack_coupleultra_loop</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_warrior/Player_warrior_dstandinghaul_loop.anim</SkillClip>
  <SkillClipName>Player_warrior_dstandinghaul_loop</SkillClipName>
  <Directory>Player_warrior/</Directory>
  <Player>1</Player>
  <Dummy>201</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.06666667</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge />
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>1</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTE_At_Ratio>0</QTE_At_Ratio>
    <QTE_End_Ratio>0</QTE_End_Ratio>
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>