<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_dragonsycophantass_dashattack</SkillName>
  <Speed>2</Speed>
  <SkillClip>Assets/Resources/Animation/Monster_dragonsycophantass/Monster_dragonsycophantass_dashattack.anim</SkillClip>
  <SkillClipName>Monster_dragonsycophantass_dashattack</SkillClipName>
  <Directory>Monster_dragonsycophantass/</Directory>
  <Player>4401</Player>
  <Dummy>0</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.353164554</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.5063291</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>