<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_manticore_trap_red_end</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Monster_manticore/Monster_manticore_trap_red_end.anim</SkillClip>
  <SkillClipName>Monster_manticore_trap_red_end</SkillClipName>
  <Directory>Monster_manticore/</Directory>
  <Player>3002</Player>
  <Dummy>0</Dummy>
  <Result />
  <Charge />
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.99999994</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTE_At_Ratio>0</QTE_At_Ratio>
    <QTE_End_Ratio>0</QTE_End_Ratio>
    <Cancel_At_Ratio>0.99999994</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>