<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_sea_dragon_falseiceeyes_nest</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip />
  <SkillClipName />
  <Directory>Monster_sea_dragon/</Directory>
  <Player>43002</Player>
  <Dummy>1</Dummy>
  <Result />
  <Charge />
  <Ja />
  <Combined>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>0.999916</To_Ratio>
      <Skill_PathWithName>SkillPackage/Monster_sea_dragon/Monster_sea_dragon_secondphase_fly.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Monster_sea_dragon/Monster_sea_dragon_secondphase_fly_loop_idle.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Monster_sea_dragon/Monster_sea_dragon_secondphase_fly_loop_idle.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Monster_sea_dragon/Monster_sea_dragon_secondphase_fly_loop_false.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Monster_sea_dragon/Monster_sea_dragon_secondphase_fly_loop_false.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Monster_sea_dragon/Monster_sea_dragon_secondphase_fly_loop_false.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Monster_sea_dragon/Monster_sea_dragon_secondphase_fly_loop_false.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Monster_sea_dragon/Monster_sea_dragon_secondphase_divebreath_nest.txt</Skill_PathWithName>
    </XCombinedDataExtra>
  </Combined>
  <CameraEffect>
    <XCameraEffectDataExtra>
      <Ratio>0.376111716</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.4454343</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.514756858</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.587029457</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.685850859</Ratio>
    </XCameraEffectDataExtra>
  </CameraEffect>
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>1</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>