<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_jasmin_jibingex_herobattle</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Monster_jasmin/Monster_jasmin_callenemy.anim</SkillClip>
  <SkillClipName>Monster_jasmin_callenemy</SkillClipName>
  <Directory>Monster_jasmin/</Directory>
  <Player>8301</Player>
  <Dummy>0</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.3</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge />
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.5833334</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTEDataEx>
      <XQTEDataExtra>
        <QTE_At_Ratio>0</QTE_At_Ratio>
        <QTE_End_Ratio>1</QTE_End_Ratio>
      </XQTEDataExtra>
    </QTEDataEx>
    <Cancel_At_Ratio>0.5833334</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>