<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_cleric_attack_shenshengzhichui</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_cleric/Player_cleric_attack_heal.anim</SkillClip>
  <SkillClipName>Player_cleric_attack_heal</SkillClipName>
  <Directory>Player_cleric/</Directory>
  <Player>4</Player>
  <Dummy>201</Dummy>
  <Result />
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>0.74999994</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_shenshengzhichui_start.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>0.243243247</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_shenshengzhichui_A1.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>0.3076923</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_shenshengzhichui_A2.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>0.368421078</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_shenshengzhichui_A3.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>0.394736856</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_shenshengzhichui_A4.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_shenshengzhichui_A5.txt</Skill_PathWithName>
    </XCombinedDataExtra>
  </Combined>
  <CameraEffect>
    <XCameraEffectDataExtra>
      <Ratio>0.0393700749</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.283464551</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.393701</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.5118113</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.6141732</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.6535433</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.7795271</Ratio>
    </XCameraEffectDataExtra>
  </CameraEffect>
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.8268366</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>1</Rotate_End_Ratio>
    <QTE_At_Ratio>0</QTE_At_Ratio>
    <QTE_End_Ratio>1</QTE_End_Ratio>
    <Cancel_At_Ratio>0.811087549</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation>Assets/Scripts/XEditor/XSkillEditor/Effect/RadialBlur.cs</EffectLocation>
  </PostEffect>
</XConfigData>