<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_cleric_attack_A1</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_cleric/Player_cleric_attack_A1.anim</SkillClip>
  <SkillClipName>Player_cleric_attack_A1</SkillClipName>
  <Directory>Player_cleric/</Directory>
  <Player>4</Player>
  <Dummy>201</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.1891892</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja>
    <XJADataExtra>
      <JA_Begin_Ratio>0.0540540554</JA_Begin_Ratio>
      <JA_End_Ratio>0.270270258</JA_End_Ratio>
      <JA_Point_Ratio>0.270270258</JA_Point_Ratio>
      <JA_Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_A2.txt</JA_Skill_PathWithName>
      <Next_Skill_PathWithName />
    </XJADataExtra>
  </Ja>
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.4864865</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>1</Rotate_End_Ratio>
    <QTEDataEx>
      <XQTEDataExtra>
        <QTE_At_Ratio>0.270270318</QTE_At_Ratio>
        <QTE_End_Ratio>0.8108109</QTE_End_Ratio>
      </XQTEDataExtra>
    </QTEDataEx>
    <Cancel_At_Ratio>0.4864865</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>