<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_cleric_attack_tiantangshenpan</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip />
  <SkillClipName />
  <Directory>Player_cleric/</Directory>
  <Player>4</Player>
  <Dummy>201</Dummy>
  <Result />
  <Charge />
  <Ja />
  <Combined>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_tiantangshenpan_start.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_tiantangshenpan_loop.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_tiantangshenpan_loop.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_tiantangshenpan_loop.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_cleric/Player_cleric_attack_tiantangshenpan_end.txt</Skill_PathWithName>
    </XCombinedDataExtra>
  </Combined>
  <CameraEffect>
    <XCameraEffectDataExtra>
      <Ratio>0.177272722</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.295454532</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.404545456</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.5181818</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.6318182</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.75</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.9045454</Ratio>
    </XCameraEffectDataExtra>
  </CameraEffect>
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.909132242</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>0.909132242</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation>Assets/Scripts/XEditor/XSkillEditor/Effect/RadialBlur.cs</EffectLocation>
  </PostEffect>
</XConfigData>