<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_sea_drake_sweep</SkillName>
  <Speed>8</Speed>
  <SkillClip>Assets/Resources/Animation/Monster_sea_drake/Monster_sea_drake_sweep.anim</SkillClip>
  <SkillClipName>Monster_sea_drake_sweep</SkillClipName>
  <Directory>Monster_sea_drake/</Directory>
  <Player>2301</Player>
  <Dummy>1</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.259259254</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined />
  <CameraEffect>
    <XCameraEffectDataExtra>
      <Ratio>0.185185179</Ratio>
    </XCameraEffectDataExtra>
  </CameraEffect>
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTE_At_Ratio>0</QTE_At_Ratio>
    <QTE_End_Ratio>0</QTE_End_Ratio>
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>