<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_archer_dash_weeknest</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_archer/Player_archer_attack_tumble_front.anim</SkillClip>
  <SkillClipName>Player_archer_attack_tumble_front</SkillClipName>
  <Directory>Player_archer/</Directory>
  <Player>2</Player>
  <Dummy>0</Dummy>
  <Result />
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.8185539</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>1</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>0.8185539</Cancel_At_Ratio>
    <Preserved_Ratio>0</Preserved_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>