<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_sorceress_attack_manchangrongjiang_ex</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip />
  <SkillClipName />
  <Directory>Player_sorceress/</Directory>
  <Player>3</Player>
  <Dummy>201</Dummy>
  <Result />
  <Charge />
  <Ja />
  <Combined>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>0.9722222</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_sorceress/Player_sorceress_attack_manchangrongjiang_ex_start.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0.0500000045</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_sorceress/Player_sorceress_attack_manchangrongjiang_ex_loop.txt</Skill_PathWithName>
    </XCombinedDataExtra>
    <XCombinedDataExtra>
      <From_Ratio>0</From_Ratio>
      <To_Ratio>1</To_Ratio>
      <Skill_PathWithName>SkillPackage/Player_sorceress/Player_sorceress_attack_manchangrongjiang_ex_end.txt</Skill_PathWithName>
    </XCombinedDataExtra>
  </Combined>
  <CameraEffect>
    <XCameraEffectDataExtra>
      <Ratio>0</Ratio>
    </XCameraEffectDataExtra>
    <XCameraEffectDataExtra>
      <Ratio>0.723684132</Ratio>
    </XCameraEffectDataExtra>
  </CameraEffect>
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.7666667</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0.9999999</Rotate_End_Ratio>
    <QTEDataEx>
      <XQTEDataExtra>
        <QTE_At_Ratio>0</QTE_At_Ratio>
        <QTE_End_Ratio>0.9999999</QTE_End_Ratio>
      </XQTEDataExtra>
      <XQTEDataExtra>
        <QTE_At_Ratio>0.183333337</QTE_At_Ratio>
        <QTE_End_Ratio>0.5055555</QTE_End_Ratio>
      </XQTEDataExtra>
    </QTEDataEx>
    <Cancel_At_Ratio>0.7666667</Cancel_At_Ratio>
    <Preserved_Ratio>0</Preserved_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation>Assets/Scripts/XEditor/XSkillEditor/Effect/RadialBlur.cs</EffectLocation>
  </PostEffect>
</XConfigData>