<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_typhoonkim_boxingattack_nest</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Monster_typhoonkim/Monster_typhoonkim_boxingattack.anim</SkillClip>
  <SkillClipName>Monster_typhoonkim_boxingattack</SkillClipName>
  <Directory>Monster_typhoonkim/</Directory>
  <Player>8401</Player>
  <Dummy>0</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.5714286</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>1</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
    <Preserved_Ratio>0</Preserved_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>