<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Broken_black_stone_Broken</SkillName>
  <Speed>2</Speed>
  <SkillClip>Assets/Resources/Animation/Broken_black_stone/Broken_black_stone_Broken.anim</SkillClip>
  <SkillClipName>Broken_black_stone_Broken</SkillClipName>
  <Directory>Broken_black_stone/</Directory>
  <Player>10013</Player>
  <Dummy>0</Dummy>
  <Result />
  <Charge />
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTE_At_Ratio>0</QTE_At_Ratio>
    <QTE_End_Ratio>0</QTE_End_Ratio>
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>