<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_gargoyle_blue_attack_slow</SkillName>
  <Speed>2</Speed>
  <SkillClip>Assets/Resources/Animation/Monster_gargoyle/Monster_gargoyle_attack.anim</SkillClip>
  <SkillClipName>Monster_gargoyle_attack</SkillClipName>
  <Directory>Monster_gargoyle_blue/</Directory>
  <Player>1601</Player>
  <Dummy>1</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.473267317</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.5118812</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.5514852</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.5910891</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.6306931</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.670297</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>