<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_scorpion_steam</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Monster_scorpion/Monster_scorpion_steam.anim</SkillClip>
  <SkillClipName>Monster_scorpion_steam</SkillClipName>
  <Directory>Monster_scorpion/</Directory>
  <Player>5201</Player>
  <Dummy>1</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.6349209</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge />
  <Ja />
  <Combined />
  <CameraEffect>
    <XCameraEffectDataExtra>
      <Ratio>0.59523803</Ratio>
    </XCameraEffectDataExtra>
  </CameraEffect>
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>1</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>