<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_lamia_poisonworld_end_fivechapter</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Monster_lamia/Monster_lamia_poisonworld_end.anim</SkillClip>
  <SkillClipName>Monster_lamia_poisonworld_end</SkillClipName>
  <Directory>Monster_lamia/</Directory>
  <Player>1026</Player>
  <Dummy>0</Dummy>
  <Result />
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>1</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTE_At_Ratio>0</QTE_At_Ratio>
    <QTE_End_Ratio>0</QTE_End_Ratio>
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
  </Logical>
  <Ultra />
  <PostEffect />
</XConfigData>