        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>weixin</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>wxcde873f99466f74a</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>tencentopenapi</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>tencent100703379</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>tencentmsdk</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>tencentmsdk100703379</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>QQ</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>QQ06009C93</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>QQLaunch</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>tencentlaunch100703379</string>
                </array>
            </dict>
        </array>
        <key>CHANNEL_DENGTA</key>
        <string>1001</string>
        <key>MSDK_OfferId</key>
        <string>1450001484</string>
        <key>MSDK_ENV</key>
        <string>test</string>
        <key>QQAppID</key>
        <string>100703379</string>
        <key>QQAppKey</key>
        <string>4578e54fb3a1bd18e0681bc1c734514e</string>
        <key>WXAppID</key>
        <string>wxcde873f99466f74a</string>
        <key>MSDKKey</key>
        <string>5d1467a4d2866771c3b289965db335f4</string>
        <key>MSDK_PUSH_SWITCH</key>
        <true/>
        <key>CLOSE_BEACON_REPORT</key>
	    <false/>
	    <key>CLOSE_BUGLY_REPORT</key>
	    <false/>
	    <key>CLOSE_HTTPDNS</key>
	    <false/>
        <key>IPV6_SUPPORT</key>
        <true/>
        <key>AutoRefreshToken</key>
        <true/>
        <key>NeedNotice</key>
        <true/>
        <key>NoticeTime</key>
        <integer>900</integer>
        <key>MSDK_REAL_NAME_AUTH_SWITCH</key>
        <integer>1</integer>
        <key>MSDK_Webview_Landscape_NavBar_Hideable</key>
        <false/>
        <key>MSDK_Webview_Portrait_NavBar_Hideable</key>
        <false/>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>tim</string>
            <string>mqq</string>
            <string>mqqapi</string>
            <string>mqqwpa</string>
            <string>mqqbrowser</string>
            <string>mttbrowser</string>
            <string>mqqOpensdkSSoLogin</string>
            <string>mqqopensdkapiV2</string>
            <string>mqqopensdkapiV3</string>
            <string>mqqopensdkapiV4</string>
            <string>wtloginmqq2</string>
            <string>mqzone</string>
            <string>mqzoneopensdk</string>
            <string>mqzoneopensdkapi</string>
            <string>mqzoneopensdkapi19</string>
            <string>mqzoneopensdkapiV2</string>
            <string>mqqapiwallet</string>
            <string>mqqopensdkfriend</string>
            <string>mqqopensdkdataline</string>
            <string>mqqgamebindinggroup</string>
            <string>mqqopensdkgrouptribeshare</string>
            <string>tencentapi.qq.reqContent</string>
            <string>tencentapi.qzone.reqContent</string>
            <string>weixin</string>
            <string>wechat</string>
            <string>weixinULAPI</string>
            <string>weixinURLParamsAPI</string>
            <string>mqqopensdkminiapp</string>
            <string>mqqopensdklaunchminiapp</string>
            <string>mqqopensdknopasteboard</string>
            <string>mqqopensdknopasteboardios16</string>
        </array>
        <key>QQSdkWebviewScreenDir</key>
        <integer>-1</integer>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string></string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>分享功能需要用到相册中的图片、视频</string>
        <key>NSCameraUsageDescription</key>
        <string>内置浏览器中拍照能力会使用相机</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>内置浏览器中录视频能力会使用麦克风</string>
        <key>WX_UNIVERSAL_LINK</key>
        <string>https://wiki.ssl.msdk.qq.com/app/</string>
        <key>UIBackgroundModes</key>
        <array>
            <string>remote-notification</string>
        </array>
        <key>UIFileSharingEnabled</key>
	    <true/>
        <key>XG_V2_ACCESS_ID</key>
        <integer>1680002757</integer>
        <key>XG_V2_ACCESS_KEY</key>
        <string>IJU7175TF7W0</string>
		<key>XG_HOST</key>
        <string>tpns.sh.tencent.com</string>
        <key>DeleteAccountUrlRelease</key>
        <string>https://gacc-account-web.odp.qq.com/writeoff.html</string>
        <key>DeleteAccountUrlTest</key>
        <string>https://gacc-account-web-test.odp.qq.com/writeoff.html</string>
        <key>NSAppTransportSecurity</key>
	    <dict>
		    <key>NSAllowsArbitraryLoads</key>
		    <true/>
	    </dict>
