<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_greenapocalypse_gameover_start</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Monster_apocalypse/Monster_apocalypse_seriesbeam_start.anim</SkillClip>
  <SkillClipName>Monster_apocalypse_seriesbeam_start</SkillClipName>
  <Directory>Monster_apocalypse/</Directory>
  <Player>40301</Player>
  <Dummy>0</Dummy>
  <Result />
  <Charge />
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>1</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTE_At_Ratio>0</QTE_At_Ratio>
    <QTE_End_Ratio>0</QTE_End_Ratio>
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
  </Logical>
  <Ultra />
  <PostEffect />
</XConfigData>