<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_assassin_attack_huanxianggongji</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_assassin/Player_assassin_huanxianggongji.anim</SkillClip>
  <SkillClipName>Player_assassin_huanxianggongji</SkillClipName>
  <Directory>Player_assassin/</Directory>
  <Player>6</Player>
  <Dummy>1</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.0714285746</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.4</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge />
  <Ja />
  <Combined />
  <CameraEffect>
    <XCameraEffectDataExtra>
      <Ratio>0.357142866</Ratio>
    </XCameraEffectDataExtra>
  </CameraEffect>
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.9142857</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>1</Rotate_End_Ratio>
    <QTEDataEx>
      <XQTEDataExtra>
        <QTE_At_Ratio>0</QTE_At_Ratio>
        <QTE_End_Ratio>1</QTE_End_Ratio>
      </XQTEDataExtra>
    </QTEDataEx>
    <Cancel_At_Ratio>0.9142857</Cancel_At_Ratio>
    <Preserved_Ratio>0</Preserved_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation>Assets/Scripts/XEditor/XSkillEditor/Effect/RadialBlur.cs</EffectLocation>
  </PostEffect>
</XConfigData>