<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Monster_spirit_combo_nest</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Monster_spirit/Monster_spirit_combo.anim</SkillClip>
  <SkillClipName>Monster_spirit_combo</SkillClipName>
  <Directory>Monster_spirit/</Directory>
  <Player>40800</Player>
  <Dummy>1</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.223255813</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.246511623</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.38139534</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.446511626</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.558139563</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.260465115</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.269767433</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.279069781</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.2883721</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Charge>
    <XChargeDataExtra>
      <Charge_Ratio>0</Charge_Ratio>
      <Charge_End_Ratio>0</Charge_End_Ratio>
    </XChargeDataExtra>
  </Charge>
  <Ja />
  <Combined />
  <CameraEffect />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>1</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>1</Cancel_At_Ratio>
    <Preserved_Ratio>0</Preserved_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
  <Ultra>
    <ultra_end_Skill_PathWithName />
  </Ultra>
  <PostEffect>
    <EffectLocation />
  </PostEffect>
</XConfigData>