<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.android.hms.tpns.push">

    <!--华为推送v5 全部manifest配置，请将 "com.example.wegame" 替换为实际包名-->

    <!-- HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.example.wegame.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signature" />
    <!-- PUSH_PROVIDER and PUSH_WRITE_PROVIDER are both provider registered permissions for the notification switch. -->
    <!-- The SDK's notification bar switch, EMUI 9.x becomes write to the local sp, sharing the file through the provider to the push-rom, which reads the sp file to get the status of the notification bar switch. -->
    <permission
        android:name="com.example.wegame.permission.PUSH_PROVIDER"
        android:protectionLevel="signature" />
    <permission
        android:name="com.example.wegame.permission.PUSH_WRITE_PROVIDER"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.wegame.permission.PROCESS_PUSH_MSG" />
    <uses-permission android:name="com.example.wegame.permission.PUSH_PROVIDER" />

    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
        <intent>
            <action android:name="com.huawei.hms.core" />
        </intent>
    </queries>

    <application>
        <service
            android:name="com.huawei.android.hms.tpns.HWHmsMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider"
            android:authorities="com.example.wegame.AGCInitializeProvider"
            android:exported="false" />

        <service
            android:name="com.huawei.agconnect.core.ServiceDiscovery"
            android:exported="false" />

        <!-- 用于判断是否集成了本lib -->
        <meta-data
            android:name="availableLoaded"
            android:value="yes" />

        <!-- 为后续统计第三方app集成了哪些Kit，因此需要Kit在自己的AndroidManifest.xml文件中定义业务标签元数据 -->
        <meta-data
            android:name="com.huawei.hms.client.service.name:base"
            android:value="base:6.6.0.300" />

        <!-- SDK依赖的HMSCore的最低api level元数据 -->
        <meta-data
            android:name="com.huawei.hms.min_api_level:base:hmscore"
            android:value="1" />
        <provider
            android:name="com.huawei.hms.aaid.InitProvider"
            android:authorities="com.example.wegame.aaidinitprovider"
            android:exported="false"
            android:initOrder="500" />

        <meta-data
            android:name="com.huawei.hms.client.service.name:opendevice"
            android:value="opendevice:6.7.0.300" />
        <meta-data
            android:name="com.huawei.hms.min_api_level:opendevice:push"
            android:value="1" />

        <receiver
            android:name="com.huawei.hms.support.api.push.PushMsgReceiver"
            android:directBootAware="true"
            android:exported="true"
            android:permission="com.example.wegame.permission.PROCESS_PUSH_MSG" >
            <intent-filter>

                <!-- Mandatory, be used to receive notification bar message click event. -->
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY" />
                <!-- Optional, compatible with old huawei phones. -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.huawei.hms.support.api.push.PushReceiver"
            android:directBootAware="true"
            android:exported="true"
            android:permission="com.example.wegame.permission.PROCESS_PUSH_MSG" >
            <intent-filter>

                <!-- Mandatory, be used to receive tokens. -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- Mandatory, be used to receive messages. -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- Definition of receiving service for notification bar and pass-through message of non-huawei mobile phone. -->
        <service
            android:name="com.huawei.hms.support.api.push.service.HmsMsgService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:process=":pushservice" >
            <intent-filter>
                <action android:name="com.huawei.push.msg.NOTIFY_MSG" />
                <action android:name="com.huawei.push.msg.PASSBY_MSG" />
            </intent-filter>
        </service>

        <provider
            android:name="com.huawei.hms.support.api.push.PushProvider"
            android:authorities="com.example.wegame.huawei.push.provider"
            android:exported="true"
            android:readPermission="com.example.wegame.permission.PUSH_PROVIDER"
            android:writePermission="com.example.wegame.permission.PUSH_WRITE_PROVIDER" />

        <meta-data
            android:name="com.huawei.hms.client.service.name:push"
            android:value="push:6.7.0.300" />
        <meta-data
            android:name="com.huawei.hms.min_api_level:push:push"
            android:value="1" />

        <activity
            android:name="com.huawei.hms.support.api.push.TransActivity"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|layoutDirection|fontScale|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="behind"
            android:theme="@style/Base_Translucent" >
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>
        <activity
            android:name="com.huawei.hms.activity.EnableServiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:exported="false" >
        </activity>
    </application>
</manifest>
